:root {
  --light-gray: rgb(241 241 241);
  --dark-gray: rgb(51 51 51);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --red: #ff4136;
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;

  font-size: 16px;
  background-color: var(--light-gray);
  color: var(--black);
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  box-sizing: border-box;
  background-color: var(--white);
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 96px 64px;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--dark-gray);
    color: var(--white);
  }

  body {
    background-color: var(--black);
  }
}

@media (max-width: 1024px) {
  body {
    padding: 64px 32px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 48px 24px;
  }
}

h1,
h2,
h3 {
  margin: 0px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.15rem;
}

h2 {
  margin: 64px 0px 32px 0px;
}

p {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  opacity: 0.8;
}

p:last-child {
  margin-bottom: 0px;
}

p.dim {
  opacity: 0.6;
}

ul {
  padding: 0px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  list-style-type: none;
}

li.featured h3 {
  position: relative;
}

li.featured h3::before {
  position: absolute;
  left: -12px;
  content: "•";
  color: var(--red);
}

a {
  color: currentColor;
  text-decoration: none;
  transition: opacity 0.2s linear;
}

@media (hover: hover) {
  /* when hover is supported */
  a:hover {
    opacity: 0.5;
  }
}
