---
import Layout from "../layouts/Layout.astro"
import "../styles/main.css"
import ListItem from "../components/ListItem.astro"

import { getCollection, getEntry } from "astro:content"

const allPosts = (await getCollection("posts")).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
)
---

<Layout title="Welcome to Astro">
  <h1>
    Design Engineering Resources by&nbsp;<a
      href="https://arun.is"
      target="_blank">Arun&nbsp;Venkatesan</a
    >
  </h1>
  <p>
    <a
      href="https://github.com/arun-is/designengineering.arun.is"
      target="_blank">Contribute on GitHub</a
    >
  </p>
  <h2>Posts</h2>
  <ul>
    {allPosts.map(({ data }) => <ListItem {...data} />)}
  </ul>
</Layout>
