---
import Layout from "../layouts/Layout.astro"
import "../styles/main.css"
import ListItem from "../components/ListItem.astro"

import { getCollection, getEntry } from "astro:content"

const allItems = (await getCollection("items")).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
)

const categorizedItems = allItems.reduce((acc, item) => {
  const category = item.id.split("/")[0]
  if (!acc[category]) {
    acc[category] = []
  }
  acc[category].push(item)
  return acc
}, {})

console.log(allItems)
---

<Layout title="Welcome to Astro">
  <h1>
    Design Engineering Resources by&nbsp;<a
      href="https://arun.is"
      target="_blank">Arun&nbsp;Venkatesan</a
    >
  </h1>
  <p class="dim">
    <a
      href="https://github.com/arun-is/designengineering.arun.is"
      target="_blank">→ Contribute on GitHub</a
    >
  </p>

  {
    Object.keys(categorizedItems)
      .sort()
      .map((category) => (
        <>
          <h2>
            {category
              .replace(/([A-Z])/g, " $1")
              .trim()
              .toLowerCase()
              .replace(/^\w/, (c) => c.toUpperCase())}
          </h2>
          <ul>
            {categorizedItems[category].map(({ data }) => (
              <ListItem {...data} />
            ))}
          </ul>
        </>
      ))
  }
</Layout>
