---
interface Props {
	title: string
}
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>


<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Design Engineering Resources</title>
    <link rel="stylesheet" href="css/style.css" />
    <meta
      name="description"
      content="Compilation of design engineering resources"
    />

    <meta
      property="og:title"
      content="Compilation of design engineering resources"
    />
    <meta property="og:type" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="designengineering.arun.is" />
    <!-- <meta property="og:image" content="" />
    <meta property="og:image:alt" content="" /> 
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="icon.png" /> 
    <link rel="manifest" href="site.webmanifest" />-->
	<meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body>
    <h1>Design Engineering Resources</h1>
    <h2>Posts</h2>
    <ul>
      <li>
        <a
          href="https://luhr.co/blog/2024/02/26/the-origins-of-design-engineering/"
          target="_blank"
          ><h3 class="title">The origins of design engineering ↗</h3></a
        >
        <p class="author">by David Luhr on Feb 26, 2024</p>
        <p>
          Traces the origins and evolution of the design engineering role and
          discusses how it has gained momentum in the industry over the past few
          years.
        </p>
      </li>
    </ul>
  </body>
</html>